%html
  %head
    %title
      = @title || ''
      
    %link{ :rel => 'stylesheet', :href => '/style.css' }
    
    - ['jquery', 'jquery.jeditable'].each do |js|
      %script{ :type => 'text/javascript', :src => '/' + js + '.js' }
      
  %body
    = yield
