%html
  %head
    %title
      = @title || ''
      
    %link{ :rel => 'stylesheet', :href => '/static/gallery/style.css' }
    
    - ['jquery', 'jquery.jeditable'].each do |js|
      %script{ :type => 'text/javascript', :src => '/static/gallery/' + js + '.js' }
      
  %body
    #loginbox
    = yield
