<h1>Show Album</h1>

<h2><%= @album.name %></h2>

<div class="pictures">
	<% for picture in @album.pictures %>
		<div class="image">
			<img src="<%= picture.urlpath %>" width="200" />
			<%= picture.name %>
		</div>
	<% end %>
</div>