body {
	font: 12px Arial;
	text-align: center;
	background: #000;
	color: #fff;
}

img {
	border: none;
}

.pictures {
	margin: 0 auto;
	width: 1250px;
}

.picture {
	width: 250px;
	float: left;
	text-align: center;
}

.picture img {
	display: block;
	width: 200px;
	margin: 0 auto;
}

.clear {
	margin-bottom: 10px;
	clear: both;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}