body {
	font: 12px Arial;
	text-align: center;
	background: #000;
	color: #fff;
}

img {
	border: none;
}

.pictures {
	margin: 0 auto;
	width: 1250px;
}

.picture {
	width: 250px;
	float: left;
	text-align: center;
}

.picture img {
	display: block;
	width: 200px;
	margin: 0 auto;
}

.clear {
	margin-bottom: 10px;
	clear: both;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

/*
 * menu
 */

#menu {
	top: 100px;
	position: fixed;
	width: 100px;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

#menu li.spacer {
	height: 10px;
}

#menu li a {
	border: 1px solid #fff;
	display: block;
}

#menu li a:hover {
	background: #fff;
	color: #000;
}